<div class="owner-full-name" [formGroup]="form">
  <div class="owner-group">
    <label for="name">Имя</label>
    <input id="name" type="text" pInputText formControlName="name">
  </div><!-- /.owner-group -->

  <div class="owner-group">
    <label for="patronymic">Отчество</label>
    <input id="patronymic" type="text" pInputText formControlName="patronymic">
  </div><!-- /.owner-group -->

  <div class="owner-group">
    <label for="surname">Фамилия</label>
    <input id="surname" type="text" pInputText formControlName="surname">
  </div><!-- /.owner-group -->
</div><!-- /.owner-full-name -->

<div class="cars">
  <h1>Автомобили</h1>

  <div class="cars-details">
    <p-table [value]="carsDetails" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Номер</th>
          <th>Марка</th>
          <th>Модель</th>
          <th>Год</th>
          <th></th>
        </tr>
      </ng-template><!-- /pTemplate="header" -->

      <ng-template pTemplate="body" let-carDetail>
        <tr>
          <td>{{carDetail.carNumber}}</td>
          <td>{{carDetail.brand}}</td>
          <td>{{carDetail.model}}</td>
          <td>{{carDetail.year}}</td>
          <td>
            <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
          </td>
        </tr>
      </ng-template><!-- /pTemplate="body" -->
    </p-table>
  </div><!-- /.cars-details -->

  <div class="btns">
    <p-button
      label="Добавить автомобиль"
      icon="pi pi-plus"
      styleClass="p-button-sm"
      class="btn"
      (click)="onAdd()"
    ></p-button>

    <p-button label="Сохранить" icon="pi pi-save" styleClass="p-button-sm" class="btn"></p-button>
    <p-button label="Назад" icon="pi pi-arrow-left" styleClass="p-button-sm" class="btn"></p-button>
  </div><!-- /.btns -->
</div><!-- /.cars -->


<app-create-car [displayModal]="isAddCarModalVisible"></app-create-car>
