<h1>Владельцы автомобилей</h1>

<div class="btns">
  <p-button class="btn" icon="pi pi-plus" label="Добавить" styleClass="p-button-sm"></p-button>

  <p-button class="btn" icon="pi pi-eye" label="Просмотр" styleClass="p-button-sm" [disabled]="!selectCar"></p-button>
  <p-button class="btn" icon="pi pi-pencil" label="Редактировать" styleClass="p-button-sm"
            [disabled]="!selectCar"></p-button>
  <p-button class="btn" icon="pi pi-trash" label="Удалить" styleClass="p-button-sm" [disabled]="!selectCar"></p-button>
</div><!-- /.btns -->

<p-table [value]="owners" selectionMode="single" [(selection)]="selectCar" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Количество автомобилей</th>
    </tr>
  </ng-template><!-- /pTemplate="header" -->

  <ng-template pTemplate="body" let-owner>
    <tr [pSelectableRow]="owner">
      <td>{{owner.surname}}</td>
      <td>{{owner.name}}</td>
      <td>{{owner.patronymic}}</td>
      <td>{{owner.carsCount}}</td>
    </tr>
  </ng-template><!-- /pTemplate="body" -->
</p-table>
