<h1>Владельцы автомобилей</h1>

<div class="btns">
  <p-button label="Добавить" icon="pi pi-plus" styleClass="p-button-sm" class="btn"></p-button>

  <p-button label="Просмотр" icon="pi pi-eye" styleClass="p-button-sm" class="btn"></p-button>
  <p-button label="Редактировать" icon="pi pi-pencil" styleClass="p-button-sm" class="btn"></p-button>
  <p-button label="Удалить" icon="pi pi-trash" styleClass="p-button-sm" class="btn"></p-button>
</div><!-- /.btns -->

<p-table [value]="owners" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Количество автомобилей</th>
    </tr>
  </ng-template><!-- /pTemplate="header" -->

  <ng-template pTemplate="body" let-owner>
    <tr>
      <td>{{owner.surname}}</td>
      <td>{{owner.name}}</td>
      <td>{{owner.patronymic}}</td>
      <td>{{owner.carsCount}}</td>
    </tr>
  </ng-template><!-- /pTemplate="body" -->
</p-table>
